<?xml version="1.0"?>
<robot xmlns="http://drake.mit.edu"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://drake.mit.edu ../../../doc/drakeURDF.xsd" name="PlanarManipulatorStand">
  <link name="brick">
    <visual>
      <geometry>
        <box size="0.20 0 0.20"/>
      </geometry>
      <origin xyz="0 0 -2"/>
    </visual>

    <visual>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz=".1 0 -2.1"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </visual>
    <visual>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="-.1 0 -2.1"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </visual>
    <visual>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="0 0 -2.1"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </visual>
    <visual>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="0 0 -2.1"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </visual>
    <visual>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz=".1 0 -2"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </visual>
    <visual>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="-.1 0 -2"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </visual>
    <visual>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz=".1 0 -1.9"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </visual>
    <visual>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="-.1 0 -1.9"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </visual>
    <visual>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="0 0 -1.9"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </visual>
    <visual>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="0 0 -1.9"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </visual>

    <collision>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz=".1 0 -2.1"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </collision>
    <collision>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="-.1 0 -2.1"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </collision>
    <collision>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="0 0 -2.1"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </collision>
    <collision>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="0 0 -2.1"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </collision>
    <collision>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz=".1 0 -2"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </collision>
    <collision>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="-.1 0 -2"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </collision>
    <collision>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz=".1 0 -1.9"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </collision>
    <collision>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="-.1 0 -1.9"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </collision>
    <collision>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="0 0 -1.9"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </collision>
    <collision>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <origin xyz="0 0 -1.9"/>
      <material name="red">
	    <color rgba="1 0 0 1" />
      </material>
    </collision>
  </link>
</robot>